@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;600;800&display=swap');

*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

body{
  width: 100%;
  height: 100vh;
}

#root {
  height: 100%;
}
.app{
  height: 100%;

}

.slideright{
  animation-name: slide-right;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes slide-right {
  0%{
      left:-100%;
  }
  100%{
      left:0;
  }
}


.message-for-main{
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.message-for-main h1{
  display: block;
  font-size: 20px;
  text-align: center;
  width: 100%;
}
